:root {
  --primary-color: #0f171e;
  --secondary-color: #1a242f;
  --font-primary: #ffffff;
  --font-secondary: #79b8f3;
}

.footer{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #444656;
  height:75px;
  flex-direction: column;
  margin-top: 60px;
}

.movie{
  margin-bottom:5px;
}