


.header {
  background-color: #444656;
  height: 72px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  color:var(--font-primary);
  font-size: 24px;
  font-weight: bold;
  
}

.user-img,.user-img img{
  width: 38px;
  height: 38px;
}