:root {
  --primary-color: #1e190f;
  --secondary-color: #1a242f;
  --font-primary: #ffffff;
  --font-secondary: #79b8f3;
}
* {
  padding: 0;
  margin: 0;
box-sizing: border-box;
font-family:'Roboto', sans-serif; 
color:var(--font-primary)
}

a{
  text-decoration: none;
}
body{
background-color: #343540;
}

.container{
  margin:0 40px;
}